* {
  box-sizing: border-box;
  max-width: 80ch;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 125%;
  font-weight: inherit;
  margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: calc(3rem + 0.5vw);
}
img {
  max-width: 100%;
}
.color\:white {
  color: white;
}
.font-size\:small {
  font-size: 0.8em;
}
.float\:left {
  float: left;
}
